@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');

* {
padding: 0;
margin: 0;
box-sizing: border-box;   }

html {
    font-size: 10px ;
    font-family: 'Montserrat', sans-serif;}

a {
    text-decoration: none;}

.container {
min-height: 100vh;
width: 100%;
display: flex;
align-items: center;
padding: 370px;
}

.container img{
border-radius: 1px;
padding: 1px;
width: 400px;
border: 2px solid rgb(14, 106, 182);
border-radius: 100%;
}

/*-----------Header------------------*/


#bba {
    display: inline-block;
padding: 10px 30px;
color: rgb(253, 253, 253);
background-color: transparent;
border: 2px solid rgb(8, 117, 156) ; 
font-size: 2rem;
text-transform: uppercase;
letter-spacing: .1rem;
transition: .3 ease background-color;
transition-property: bacground-color, color;
    }

#bba:hover{

color: azure;
background-color: rgb(27, 104, 177);}









/* -----------------------------------HERO SECTION --------------------------------------*/
#hero{
background-image: url(./IMG_6624.jpg);
background-size: cover;
background-position: top center;
position: relative;
z-index: 1;} 

#hero::after{
content: '';
position: absolute;
left: 0;
top: 0;
height: 100%;
width: 100%;
background-color: black;
opacity: .7;
z-index: -1;}


#hero h1 {
    font-style: unset;
display: rgb(0, 0, 0);
width: fit-content;
font-size: 6rem;
position: relative;
color: white;
animation: text_reveal 1s ease forwards;
margin-left: 50px;
}

#hero h2 {
    display: rgb(0, 0, 0);
    width: fit-content;
    font-size: 3rem;
    position: relative;
    color: rgb(170, 170, 170);
    margin-left: 50px;
    
    }

#hero h1 span {
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 0%;
background-color: rgb(6, 87, 179);
}

#hero .cta{
display: inline-block;
padding: 10px 30px;
color: rgb(255, 255, 255);
background-color: transparent;
border: 2px solid rgb(8, 117, 156) ; 
font-size: 2rem;
text-transform: uppercase;
letter-spacing: .1rem;
margin-top: 30px;
margin-left: 55px;
transition: .3 ease background-color;
transition-property: bacground-color, color;
}

#hero .cta1{
    display: inline-block;
    padding: 10px 30px;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: 2px solid rgb(8, 117, 156) ; 
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    margin-left: 50px;
    transition: .3 ease background-color;
    transition-property: bacground-color, color;
    }

#hero .cta:hover{
   
color: azure;
background-color: rgb(27, 104, 177);}

#hero .cta1:hover{
   
    color: azure;
    background-color: rgb(27, 104, 177);}
/* ------------------------------------END HERO SECTION------------------------------------------- */


/* -------------------------------------SECONDPAGE------------------------------------------------ */
.secondcontainer img{
width: 60px;
margin-left: 70px;
}



.fb{

    color: aqua;
}










/*----------------------------------------End SECONDPAGE--------------------------------------------*/
/* */
/* */
/* */