
*{
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 30px;
  background: linear-gradient(rgba(78, 91, 117, 0.1), rgba(78, 91, 117, 0.1));
}

p{
  margin-left: 40px;
  margin-right: 60px;
  padding-bottom: 15px;
  color: rgb(68, 68, 68);
  font-size: 30px;
  background: transparent;
}

.hero img {

border-radius: 100%;
width: 300px;
display: block;
margin: 0 auto;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.hero {
background: linear-gradient(rgb(19, 26, 39), rgba(1, 35, 43, 0.2)),
url("./pexels-marina-leonova-7718587.jpg");
height: 900px;
padding-top: 185px;
background-position: top center;
background-size: cover;
margin-top: -60px;
margin-bottom: -30px;
margin-right: -10px;
background-attachment: fixed;
}


.name{
text-align: center;
margin-top: 45px;
background: transparent;
font-size: 50px;
color: rgb(230, 230, 230);
}
.qa{
  margin-top: -30px;
color: rgb(221, 221, 221);
text-align: center;
padding: 10px;
background: transparent;
font-size: 35px;
}

.btn1{
  text-align: center;
margin: 20px 40px;
margin-bottom: 80px;
background: transparent;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
opacity: 0.8;
}

.xperience{
  text-align: center;
  font-size: 50px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-top: -30px;
  padding-top: 30px;
  color: rgba(1, 35, 43);
  background: transparent;
}

a {
background: rgb(199, 199, 199);
text-decoration: none;
padding: 1.2rem 1.5rem;
color: black;
text-transform: uppercase;
cursor: pointer;
font-size: 20px;
}

.womu h1{
margin-left: 40px;
color: rgb(40, 67, 88);
margin-top: 15px;
margin-bottom: -20px;
background: transparent;

}
ul li{
color: rgb(34, 34, 34);
font-size: 20px;
background: transparent;
margin-left: 2%;

}

.technop h1{
color: rgb(40, 67, 88);
margin-left: 40px;
margin-top: 15px;
margin-bottom: 15px;
background: transparent;
}

.technop{
 margin-right: 20px;
 margin-left: 20px;
 margin-top: -20px;
  padding: 30px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.womu{

margin: 20px;
padding: 30px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.skills h1{
  text-align: center;
  font-size: 40px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin: 20px;
  color: rgba(1, 35, 43);
  background: transparent;
}
.skills{
  margin: 20px;
}

.tools {
  position: absolute;
  margin-left: 70%;
  background: transparent;
}

.technologies {
  margin-left: 15%;
  margin-top: 50px;
  background: transparent;
}

#hire {
  text-align: center;
  color: rgba(1, 35, 43);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding: 20px;
  margin: 20px;
  font-size: 40px;
  background: transparent;
  
}

.cont h4{
  background-color: transparent;
  margin-left: 20%;
  margin-left: 10px;
  margin-left: 90px;
  background: transparent;
}

.cont p{
background-color: transparent;
font-size: 20px;
margin-left: 90px;
margin-top: -25px;
}

#looking{
  font-size: large;
  color: rgb(37, 37, 37);
  font-weight: 600;
  text-align: center;
  padding-top: 25px;
}

.cont {
 
  margin: 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: transparent;
  
}

.email {
position: absolute;
background: transparent;
}

.forma form {
  margin-left: 60%;
  background: transparent;
}




