
*{
  margin-left: 0px;
  margin-top: 30px;
  background-color: rgb(209, 216, 218);
  
}

p{
  margin-left: 40px;
  margin-right: 60px;
  padding-bottom: 15px;
  color: rgb(95, 95, 95);
  font-size: 30px;
}

.hero img {

border-radius: 100%;
width: 300px;
border: 1px solid black;
display: block;
margin: 0 auto;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* .hero{
  background-image: url(/CV/pexels-marina-leonova-7718587.jpg);
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
margin-top: -40px;
padding: auto;
} */
.hero {
background: url("./pexels-marina-leonova-7718587.jpg");
height: 900px;
padding-top: 185px;
background-position: top center;
background-size: cover;
margin-top: -60px;
margin-bottom: -30px;
z-index: 1;
}

.name{
text-align: center;
margin-top: 25px;
background: transparent;
font-size: 50px;
color: rgb(230, 230, 230);
}
.qa{
color: rgb(221, 221, 221);
text-align: center;
padding: 10px;
background: transparent;
font-size: 35px;
}

.btn1{
  text-align: center;
margin: 20px 40px;
margin-bottom: 80px;
background: transparent;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.xperience{
  text-align: center;
  font-size: 50px;
}

a {
background: rgb(194, 194, 194);
text-decoration: none;
padding: 1.2rem 1.5rem;
color: black;
text-transform: uppercase;
cursor: pointer;
font-size: 20px;
}

.womu h1{
margin-left: 90px;
color: rgb(110, 146, 212);
margin-top: 15px;
margin-bottom: 15px;
background: transparent;

}
ul li{
color: rgb(68, 151, 123);
font-size: 20px;
}

.technop h1{
color: rgb(110, 146, 212);
margin-left: 90px;
margin-top: 15px;
margin-bottom: 15px;
}

.technop{
  border: 1px solid;
  margin: 20px;
  padding: 30px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.womu{
border: 1px solid;
margin: 20px;
padding: 30px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.tools h1{
  text-align: center;
}